<h2>Create an event</h2>

<%= form_for(:event) do |f| %>
  <p>Description: <%= f.text_area :description %></p>
  <p>Time: <%= f.datetime_select :time %></p>
  Invite guests:
  <br>
  <% @users.find_each do |user| %>
    <%= f.check_box "invited[#{user.id}]" %>
    <%= user.name %><br>
  <% end %>
  <%= f.submit 'create event' %>
<% end %>

