<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if @current_user %>
      Signed in as <%= "#{@current_user.name} " %>
      <%= link_to "sign out", logout_path, method: :delete %>
    <% else %>
      <%= link_to "sign in ", login_path %>
      or <%= link_to "sign up", user_new_path %>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>
